<div *ngIf="moto; else cargando" class="detalle-container">

  <h2>{{ moto.idmoto }}</h2>

  <p><strong>Placa:</strong> {{ moto.placa }}</p>
  <p><strong>Año:</strong> {{ moto.anio }}</p>
  <p><strong>Estado:</strong> {{ moto.estado }}</p>

  <p><strong>Descripción:</strong> {{ moto.descripcion }}</p>
  <p><strong>Precio:</strong> S/ {{ moto.precio }}</p>

  <!-- IMÁGENES -->
  <div class="galeria" *ngIf="moto.imagenes?.length">
    <img
      *ngFor="let img of moto.imagenes"
      [src]="img"
      alt="Moto"
      class="img-moto"
    />
  </div>

  <a
    class="btn-wsp"
    [href]="getWhatsappLink()"
    target="_blank"
  >
    📲 Contactar por WhatsApp
  </a>

</div>

<ng-template #cargando>
  <p>Cargando información...</p>
</ng-template>
