<div *ngIf="requestBackend | async as statuss" class="page-center">
  <div class="filtros">
    <input type="text" placeholder="Filtrar por marca" [(ngModel)]="filtroMarca" />
    <!--<input type="number" placeholder="Precio máximo" [(ngModel)]="filtroPrecioMax" />-->
  </div>

  <p>Total: {{ statuss.totalElements }}</p>
  <div class="cards-grid">
    <article class="card" *ngFor="let moto of filtrarMotos(statuss.content); trackBy: trackById">
      <div class="card-media">
        <img
          [src]="moto.imagenes?.[0]"
          [alt]="moto.idmoto || 'moto'"
        />
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ moto.idmoto || 'Marca' }} <small *ngIf="moto.idmoto">- {{ moto.idmoto}}</small></h3>
        <p class="card-meta">
          <span *ngIf="moto.descripcion">{{ moto.descripcion }} •</span>
          <span *ngIf="moto.estado">Stock: {{ moto.estado }}</span>
        </p>
        <p class="card-price" *ngIf="moto.precio"> S/ {{ moto.precio }}  </p>
        <div class="card-actions">
          <button class="primary" (click)="verDetalle(moto)">Ver más detalle </button>
        </div>
      </div>
    </article>
  </div>
</div>
